<div class="index">
  <img src="/images/beer.png">
  <div>
        <a href="http://localhost:3000/beers"><button class="btn">Check the Beers!</button></a>
    </div>

    <div >
    <a href="http://localhost:3000/randombeer"><button class="btn2">Check the Random Beer!</button></a>
  </div>  
</div>